
@model QLCV_MVC.ViewModels.LoginViewModel
@{
       Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
       
    <link href="/lib/bootstrap-4.3.1/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>

    <style>
        .form-signin {
            margin: 0 auto;
            max-width: 330px;
            padding: 15px;
        }

            .form-signin h4 {
                text-align: center;
            }
    </style>
   
</head>
    <body>

    <div class="container">
        <div class="row justify-content-center">
            <h3 style="text-align:center">LOGIN</h3>
        </div>
    </div>
    <div class="container body-content">
       
        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-signin", role = "form" }))
            {
                @Html.AntiForgeryToken()
            <div class="form-group border">

                <div>
                    <label class="control-label">Chọn loại tài khoản</label>
                </div>
               @* <div class="col-8 border">
                    <select asp-for="account" class="form-control" asp-items="Html.GetEnumSelectList<AccountType>()">
                        @*<option value="0">Chọn loại tài khoản</option>*@
                   @* </select>*@
                    <span asp-validation-for="account" class="text-danger"></span>
                @*</div>*@
            </div>


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               @* 
                @Html.TextBoxFor(m => m.userid, new { @class = "form-control", placeholder = "UserId" })
                @Html.ValidationMessageFor(m => m.userid, "", new { @class = "text-danger" })
                <br />
                @Html.PasswordFor(m => m.password_, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.password_, "", new { @class = "text-danger" })
                <br />
                <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block" />*@
            }
       
        </div>
    </body>
</html>