
@model QLCV_MVC.ViewModels.LoginViewModel
@{
    var title = "Login";
    ViewData["Title"] = title;
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@title</title>
   
    <link href="/lib/bootstrap-4.3.1/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>

    <style>
        .form-signin {
            margin: 0 auto;
            max-width: 330px;
            padding: 15px;
        }

            .form-signin h4 {
                text-align: center;
            }
    </style>
   
</head>
    <body>

    <div class="container">
        <div class="row justify-content-center">
            <h3>LOGIN MVC ASP.Net Core 3.1</h3>
        </div>
    </div>
    <div class="container body-content">
       
        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-signin", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>@title</h4>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.TextBoxFor(m => m.userid, new { @class = "form-control", placeholder = "UserId" })
                @Html.ValidationMessageFor(m => m.userid, "", new { @class = "text-danger" })
                <br />
                @Html.PasswordFor(m => m.password_, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.password_, "", new { @class = "text-danger" })
                <br />
                <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block" />
            }
       
        </div>
    </body>
</html>